<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ver" value="Consulta Alura - Versão 1.0"/>
    <add key="ver_short" value="1.0"/>

    <!---MENSAGEM PADRÃO ERRO-->
    <add key="arg_msg_standard" value="Digite argumento numerico!     
    Uso: PROGRAM modo de execução -log :opcional -h :opcional 
    Exemplo #2: PROGRAM 0 -log ==> executa solução no modo 0, gerando log  
    Exemplo #3: PROGRAM -h     ==> exibe ajuda sobre uso detalhado da solução  "/>

    <add key="arg_msg_help" value="
         SINTAXE:   
    PROGRAM (modo de execução) (-log) (-h) (-dev) (-ver)
	
    PARÂMETROS:
    modo	- valor numérico, detalhes abaixo
    -log	- gera log de execução local
    -h		- exibe ajuda
    -ver	- exibe versão atual da automação

    #############################################################################################
    EXEMPLOS:
	
    Exemplo #1: PROGRAM 0
    Executa solução no modo 0
	
    Exemplo #2: PROGRAM 0 -log
    Executa solução no modo 0, gerando log
	
    ############################################################################################# "/>

    <!-- CAMINHO LOG MAQUINA -->
    <add key="CaminhoLog" value="C:\TESTE\CONSULTA ALURA\"/>

    <!-- CAMINHO PADRAO CHROME -->
    <add key="CaminhoExeChrome" value="C:\Program Files\Google\Chrome\Application\chrome.exe"/>
    <add key="CaminhoExeChrome86" value="C:\Program Files(x86)\Google\Chrome\Application\chrome.exe"/>
    
    <add key="urlSiteAlura" value="https://www.alura.com.br/"/>

    <!-- SEGUNDOS PARA TIMEOUT DA PAGINA -->
    <add key="Wait" value="30"/>
    
    <!-- ELEMENTOS HMTL DA PAGINA -->
    <add key="CaminhoElementoVerificacao" value="/html/body/header/div[1]/nav/div[3]/a[2]"/>
    <add key="CaminhoElementoBtnBusca" value="/html/body/main/section[1]/header/div/nav/div[2]/form/button"/>
    <add key="CaminhoElementoResultadosBusca" value="/html/body/div[2]/div[2]/section/div/h2"/>
    <add key="CaminhoElementoDescricaoCurso" value="/html/body/main/section[1]/article/div/div/div[2]/div/h2"/>
    <add key="CaminhoElementoDescricaoCurso1" value="/html/body/section[1]/div/div[1]/p[2]"/>
    <add key="CaminhoElementoListaInstrutores" value="/html/body/main/section[2]/section[3]/div/ul"/>
    <add key="CaminhoElementoListaInstrutores1" value="/html/body/main/section[2]/section[4]/div/ul"/>
    <add key="CaminhoElementoListaInstrutor" value="/html/body/section[2]/div[1]/section/div/div/div/h3"/>
    
    <add key="idCampoBuscaCurso" value="header-barraBusca-form-campoBusca"/>
    <add key="idCampoBuscaResultados" value="busca-form-input"/>
    <add key="idCampoResultadosPesquisa" value="busca-resultados"/>

    <!-- DADOS para banco de dados -->
    <add key="user" value="root"/>
    <add key="server" value="localhost"/>
    <add key="dataBase" value="ALURA"/>
    <add key="pwd" value="pacoca10"/>
    
  </appSettings>
</configuration>